html 
head
	link(href="css/style.css" rel="stylesheet") 
	link(href="https://fonts.googleapis.com/css2?family=Nobile:ital,wght@1,500&display=swap" rel="stylesheet")
	meta(charset="utf-8")
body
	header
		.logo
				h1 Horoscope
		.main_header
			.header
			.menu
					nav
						ul 
							li 
								a(href="#") Гороскоп 
							li 
								a(href="#") Прогнозы
							li 
								a(href="#") Гадания 
							li 
								a(href="#") Астрология 
							li 
								a(href="#") Нумерология 
